.badge-primary {
  background-color: rgba(13, 110, 253, 1);
  color: #212529;
}

.badge-secondary {
  background-color: rgba(108, 117, 125, 1);
  color: #212529;
}

.badge-success {
  background-color: #B7FFBC;
  color: #212529;
}

.badge-danger {
  background-color: #ff989e;
  color: #212529;
}

.badge-warning {
  background-color: #F7FFB7;
  color: #212529;
}

.badge-info {
  background-color: rgba(13, 202, 240, 1);
  color: #212529;
}

.badge-light {
  background-color: rgba(248, 249, 250, 1);
  color: #212529;
}

.badge-dark {
  background-color: rgba(33, 37, 41, 1);
  color: #fff;
}

.badge-primary:hover {
  background-color: hsl(217, 100%, 50%);
}

.badge-secondary:hover {
  background-color: hsl(210, 12%, 45%);
}

.badge-success:hover {
  background-color: hsl(145, 80%, 70%);
}

.badge-danger:hover {
  background-color: hsl(0, 80%, 75%);
}

.badge-warning:hover {
  background-color: hsl(55, 100%, 75%);
}

.badge-info:hover {
  background-color: hsl(192, 90%, 60%);
}

.badge-light:hover {
  background-color: hsl(0, 0%, 95%);
}

.badge-dark:hover {
  background-color: hsl(0, 0%, 20%);
}


.bg-main{
  background-color: #edede9;
}

.bg-bar{
  background-color: #d5bdaf;
}

.bg-card{
  background-color: #d6ccc2;
}

.btn-light{
  background-color: #d5bdaf;
  border: #edede9;
}

.bg-input{
  background-color: #ECECEC;
}

.bg-tableHeader{
  background-color: #d6ccc2 !important;
}

.bg-static{
  background-color: #d6ccc2;
}

[data-bs-theme=dark] .bg-main{
  background-color: #495057;
  color: white !important;
}

[data-bs-theme=dark] .btn-light{
  color:white !important;
  background-color: #272932;
  border: #272932;
}


[data-bs-theme=dark] .bg-card{
  color:white !important;
  background-color: #333333;
}

[data-bs-theme=dark] .bg-input{
  color:white !important;
  background-color: #6c757d;
}

[data-bs-theme=dark] .bg-tableHeader{
  color:white !important;
  background-color: #333333 !important;
}

[data-bs-theme=dark] .bg-bar{
  color: white !important;
  background-color: #272932;
}

[data-bs-theme=dark] .bg-static{
  color:black !important;
  background-color: #a49694 !important;
}
